
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{{asset('assets/img/icon.png')}}" type="image/png">
        <title>{% block title %}Atelier 543{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendors/linericon/style.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendors/owl-carousel/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendors/lightbox/simpleLightbox.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendors/nice-select/css/nice-select.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendors/animate-css/animate.css')}}">
        <link rel="stylesheet" href="{{asset('assets/vendors/flaticon/flaticon.css')}}">
        <!-- main css -->
        <link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/responsive.css')}}">
        {% endblock %}
        <!-- Bootstrap CSS -->   
    </head>
    <body>

    {% block body %}



        <!--================About Area =================-->
        <section id="about-us" class="about_area p_120">
        	<div class="container">
            <div class="main_title" style="margin-bottom:0px">
        			<h2>Espace Administrateur</h2>
        			<p>Connectez-vous pour accéder au fonctionnalitées administrateur.</p>
        		</div>
                <div class="row justify-content-center">
        		<div class="">
        			<div class="center">
                        <form class="row contact_form" method="post" id="contactForm">
                        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
                            <div class="col-md-12">
                                <div class="form-group">
                                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>                                </div>
                                <div class="form-group">
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                </div>
                                <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                            </div>
                            <div class="col-md-12 text-center">
                               <button class="btn submit_btn" type="submit">CONNECTION</button>
                               <a class="btn submit_btn" href="" >RETOUR</a>
                            </div>
                        </form>
                    </div>
                    </div>

        		</div>
        	</div>
        </section>
        <!--================End About Area =================-->
        

 <!--================Footer Area =================-->
        <footer class="footer_area p_120">
        	<div class="container">
        		<div class="row footer_inner">
        			<div class="col-lg-5 col-sm-6">
        				<aside class="f_widget ab_widget">
        					<div class="f_title">
        						<h3>A propos de Nous</h3>
        					</div>
        					
        					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tous droits reservés <a href="" target="_blank">atelier 543</a> | Site fait avec <i class="fa fa-heart-o" aria-hidden="true"></i> par <a href="https://colorlib.com" target="_blank">Colorlib</a> integré par <a href="" target="_blank">Yoann Jayles</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        				</aside>
        			</div>
        			 <div class="col-lg-5 col-sm-6">
        				<aside class="f_widget news_widget">
        					<div class="f_title">
        						<h3>Liens Utiles</h3>
        					</div>
        					<p>Tous nos liens utiles</p>
        					<ul class="list">
        						<li><a href="{{ path('admin') }}">admin</a></li>
        					</ul>
        				</aside>
        			</div> 
        			<div class="col-lg-2">
        				<aside class="f_widget social_widget">
        					<div class="f_title">
        						<h3>Suivez Nous</h3>
        					</div>
        					<p>Rejoignez notre instagram</p>
        					<ul class="list">
        						<li><a href="https://www.instagram.com/atelier_543/"><i class="fa fa-instagram"></i></a></li>
        					</ul>
        				</aside>
        			</div>
        		</div>
        	</div>
        </footer>
        <!--================End Footer Area =================-->
        
 </body>

  {% block javascripts %}
   <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{{asset('assets/js/jquery-3.2.1.min.js')}}"></script>
        <script src="{{asset('assets/js/popper.js')}}"></script>
        <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
        <script src="{{asset('assets/js/stellar.js')}}"></script>
        <script src="{{asset('assets/vendors/lightbox/simpleLightbox.min.js')}}"></script>
        <script src="{{asset('assets/vendors/nice-select/js/jquery.nice-select.min.js')}}"></script>
        <script src="{{asset('assets/vendors/isotope/imagesloaded.pkgd.min.js')}}"></script>
        <script src="{{asset('assets/vendors/isotope/isotope-min.js')}}"></script>
        <script src="{{asset('assets/vendors/owl-carousel/owl.carousel.min.js')}}"></script>
        <script src="{{asset('assets/js/jquery.ajaxchimp.min.js')}}"></script>
        <script src="{{asset('assets/vendors/counter-up/jquery.waypoints.min.js')}}"></script>
        <script src="{{asset('assets/vendors/counter-up/jquery.counterup.min.js')}}"></script>
        <script src="{{asset('assets/js/mail-script.js')}}"></script>
        <!--gmaps Js-->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
        <script src="{{asset('assets/js/gmaps.min.js')}}"></script>
        <script src="{{asset('assets/js/theme.js')}}"></script>
 {% endblock %}
    </html>
 {% endblock %}
